* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

.input{
    color: red;
}

header {
    border: 1px groove grey;
    padding: 2px;
}

p {
    font-size: 20px;
}